<%- include('../partials/header') %>

<h1>My Classes</h1>

<% if (classes) { %>
  <nav>
    <% classes.forEach((c) => { %>
      <div>
        <a href="/classes/<%= c._id %>"><%= c.name %></a>
      </div>
    <% }) %>
  </nav>
  <% } %>

</br>
</br>

<% if (enrolledClasses) { %>
  <h2>Classes I'm Taking</h2>
  <nav>
    <% enrolledClasses.forEach((c) => { %>
      <div>
        <a href="/classes/s/<%= c._id %>"><%= c.name %></a>
      </div>
    <% }) %>
  </nav>
  <% } %>

</br>
</br>

<a href="classes/new">Add a New Class</a>

<%- include('../partials/footer') %>