<%- include('../partials/header') %>

<h1 class="classindex">My Classes</h1>

<h2 class="classindex">Classes I Manage</h2>
<nav class="classnav" class="classindex">
    <% if (classes) { %>
    <% classes.forEach((c) => { %>
      <div class="classbox">
        <a href="/classes/<%= c._id %>"><%= c.name %></a>
      </div>
    <% })} %>
    <div class="classbox" id="addclass">
      <a href="classes/new">Add a New Class</a>
    </div>
  </nav>
  

</br>
</br>

<% if (enrolledClasses) { %>
  <h2 class="classindex">Classes I'm Taking</h2>
  <nav class="classnav" class="classindex">
    <% enrolledClasses.forEach((c) => { %>
      <div class="classbox">
        <a href="/classes/s/<%= c._id %>"><%= c.name %></a>
      </div>
    <% }) %>
  </nav>
  <% } %>

</br>
</br>



<%- include('../partials/footer') %>